<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Blog</title>
</head>
<body>
    <nav>
        <a href="{% url "home" %}">Home</a>
        <a href="{% url "create_blog" %}">Create Blog</a>
        <a href="{% url "list_blog" %}">List Blogs</a>
    </nav>
    <form action="" method="POST">
        {% csrf_token %}
        {{formContent}}
        <button type="submit">Create Blog</button>
    </form>
</body>
</html>