# ❌ Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# ❌ Configuración de entorno
.env
*.env
venv/
env/
*.sqlite3

# ❌ Archivos de Django y migraciones
db.sqlite3
/media/
*.log

# ❌ Archivos de IDEs y sistemas operativos
.vscode/
.idea/
.DS_Store

# ❌ Archivos de dependencias
node_modules/
package-lock.json