{% extends "template_base.html" %}

{% block content %}

{% block title_head %} <h1>Change password</h1> {% endblock title_head %}

<form action="change-password" method="POST">
    {% csrf_token %}
    <!-- Clase basada en vista, automaticamente envia por form -->
    <!--{{ form }}-->
    <div class="mb-3">
        <label class="form-label">Password Actual</label>
        {{ form.old_password }}
    </div>
    <div class="mb-3">
        <label class="form-label">New Password</label>
        {{ form.new_password1 }}
    </div>
    <div class="mb-3">
        <label class="form-label">Confirm New Password</label>
        {{ form.new_password2 }}
    </div>
    <input type="submit" class="btn btn-dark btn-lg mt-3" value="Change Password">
</form>


{% endblock content %}